body {
    overflow-x: hidden;
    margin: 5% 5% 5% 5%;
  }
  
  @font-face {
    font-family: 'Circular';
    src: url("https://lionheartfinance.github.io/lineto-circular-book.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'Brandon Text Bold';
    src: url("BrandonText-Bold.otf") format("opentype");
  }

  @font-face {
    font-family: 'Brandon Text Medium';
    src: url("brandon_grotesque_med.otf") format("opentype");
  }
  
 * {
    font-family: 'Brandon Text Bold', sans-serif;
  }

  /* Progress Bar */
  .progress {
    position:relative;
    height:65px;
    box-shadow: none !important;
    border-radius: 5px;
  }
  .raised {
    font-family: 'Brandon Text Bold', sans-serif;
    font-size: 1.25em;
    position:absolute;
    left:10px;
    top:10px;
    background: #ffffff4b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
  }
  .goal {
    font-family: 'Brandon Text Bold', sans-serif;
    font-size: 1.25em;
    position:absolute;
    right:10px;
    top:10px;
    background: #444;
    color: #ffffff;
    border: none;
    width: 90px;
    text-align: center;
    border-radius: 5px;
  }
  .progress-bar {
    background: #00a8ff;
    height: 100%;
    box-shadow: none !important;
  }
  
  .raised-text {
    font-family: 'Brandon Text Bold', sans-serif;
    color: #888888;
    margin-top: 5px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .goal-text {
    font-family: 'Brandon Text Bold', sans-serif;
    color: #888888;
    margin-top: 5px;
    text-align: right !important;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  /* Rotating Words */
  .rw-wrapper{
      width: 100%;
      position: relative;
      margin: 110px auto 0 auto;
      font-family: 'Brandon Text', sans-serif;
      padding: 10px;
  }
  .rw-sentence{
    margin: 0;
    text-align: left;
    min-width: 550px !important;
}
.rw-sentence span{
  font-size: 2rem !important;
    color: #444;
    font-weight: normal;
    line-height: 1.05em !important;
}
.rw-words{
    display: inline;
    text-indent: 0.3em;
}
  .rw-words-1 span{
    position: absolute;
      opacity: 0;
      overflow: hidden;
      color: #00a8ff;
      -webkit-animation: rotateWords 20s linear infinite 0s;
      -moz-animation: rotateWords 20s linear infinite 0s;
      -o-animation: rotateWords 20s linear infinite 0s;
      -ms-animation: rotateWords 20s linear infinite 0s;
      animation: rotateWords 20s linear infinite 0s;
  }
  .rw-words-1 span:nth-child(2) { 
      -webkit-animation-delay: 5s; 
      -moz-animation-delay: 5s; 
      -o-animation-delay: 5s; 
      -ms-animation-delay: 5s; 
      animation-delay: 5s; 
      color: #00a8ff;
  }
  .rw-words-1 span:nth-child(3) { 
      -webkit-animation-delay: 10s; 
      -moz-animation-delay: 10s; 
      -o-animation-delay: 10s; 
      -ms-animation-delay: 10s; 
      animation-delay: 10s; 
      color: #00a8ff;	
  }
  .rw-words-1 span:nth-child(4) { 
      -webkit-animation-delay: 15s;
      -moz-animation-delay: 15s; 
      -o-animation-delay: 15s; 
      -ms-animation-delay: 15s; 
      animation-delay: 15s; 
      color: #00a8ff;
  }
  @-webkit-keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    26% { opacity: 1; -webkit-transform: translateY(0px); }
    29% { opacity: 0; -webkit-transform: translateY(-30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
    5% { opacity: 1; -moz-transform: translateY(0px);}
    26% { opacity: 1; -moz-transform: translateY(0px); }
    29% { opacity: 0; -moz-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateY(-30px); }
    5% { opacity: 1; -o-transform: translateY(0px);}
    26% { opacity: 1; -o-transform: translateY(0px); }
    29% { opacity: 0; -o-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    26% { opacity: 1; -ms-transform: translateY(0px); }
    29% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
    5% { opacity: 1; transform: translateY(0px);}
    26% { opacity: 1; transform: translateY(0px); }
    29% { opacity: 0; transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
  @media screen and (max-width: 768px){
      .rw-sentence { font-size: 26px; }
  }
  @media screen and (max-width: 425px){
      .rw-sentence { font-size: 14px !important; }
      .container { height: 55vh !important; }
  }
  
  /* Rotating Words */
  .rw-wrapper{
      width: 80%;
      position: relative;
      margin: 110px auto 0 auto;
      font-family: 'Brandon Text', sans-serif;
      padding: 10px;
  }
  .rw-picture {
      margin: 0;
      text-align: left;
  }
  .rw-picture span{
    font-size: 1.5em;
      color: #444;
      font-weight: normal;
  }
  .rw-pic{
      display: inline;
  }
  .rw-pic-1 span{
    left: 0;
    top: 0;
    position: absolute;
      opacity: 0;
      overflow: hidden;
      color: #00a8ff;
      -webkit-animation: rotateWord 20s linear infinite 0s;
      -moz-animation: rotateWord 20s linear infinite 0s;
      -o-animation: rotateWord 20s linear infinite 0s;
      -ms-animation: rotateWord 20s linear infinite 0s;
      animation: rotateWord 20s linear infinite 0s;
  }
  .rw-pic-1 span:nth-child(2) { 
      -webkit-animation-delay: 5s; 
      -moz-animation-delay: 5s; 
      -o-animation-delay: 5s; 
      -ms-animation-delay: 5s; 
      animation-delay: 5s; 
      color: #00a8ff;
  }
  .rw-pic-1 span:nth-child(3) { 
        -webkit-animation-delay: 10s; 
        -moz-animation-delay: 10s; 
        -o-animation-delay: 10s; 
        -ms-animation-delay: 10s; 
        animation-delay: 10s; 
      color: #00a8ff;	
  }
  .rw-pic-1 span:nth-child(4) { 
    -webkit-animation-delay: 15s; 
    -moz-animation-delay: 15s; 
    -o-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
      color: #00a8ff;
  }
  @-webkit-keyframes rotateWord {
      0% { opacity: 0; }
      2% { opacity: 0; -webkit-transform: translateY(-0px); }
      5% { opacity: 1; -webkit-transform: translateY(0px);}
      17% { opacity: 1; -webkit-transform: translateY(0px); }
      26% { opacity: 1; -webkit-transform: translateY(0px); }
      29% { opacity: 0; -webkit-transform: translateY(0px); }
      80% { opacity: 0; }
      100% { opacity: 0; }
  }
  @-moz-keyframes rotateWord {
      0% { opacity: 0; }
      2% { opacity: 0; -moz-transform: translateY(-0px); }
      5% { opacity: 1; -moz-transform: translateY(0px);}
      17% { opacity: 1; -moz-transform: translateY(0px); }
      26% { opacity: 1; -moz-transform: translateY(0px); }
      29% { opacity: 0; -moz-transform: translateY(0px); }
      80% { opacity: 0; }
      100% { opacity: 0; }
  }
  @-o-keyframes rotateWord {
      0% { opacity: 0; }
      2% { opacity: 0; -o-transform: translateY(-0px); }
      5% { opacity: 1; -o-transform: translateY(0px);}
      17% { opacity: 1; -o-transform: translateY(0px); }
      26% { opacity: 1; -o-transform: translateY(0px); }
      29% { opacity: 0; -o-transform: translateY(0px); }
      80% { opacity: 0; }
      100% { opacity: 0; }
  }
  @-ms-keyframes rotateWord {
      0% { opacity: 0; }
      2% { opacity: 0; -ms-transform: translateY(-0px); }
      5% { opacity: 1; -ms-transform: translateY(0px);}
      17% { opacity: 1; -ms-transform: translateY(0px); }
      26% { opacity: 1; -ms-transform: translateY(0px); }
      29% { opacity: 0; -ms-transform: translateY(0px); }
      80% { opacity: 0; }
      100% { opacity: 0; }
  }
  @keyframes rotateWord {
      0% { opacity: 0; }
      2% { opacity: 0; transform: translateY(-0px); }
      5% { opacity: 1; transform: translateY(0px);}
      17% { opacity: 1; transform: translateY(0px); }
      26% { opacity: 1; transform: translateY(0px); }
      29% { opacity: 0; transform: translateY(0px); }
      80% { opacity: 0; }
      100% { opacity: 0; }
  }
  @media screen and (max-width: 768px){
      .rw-pictures { font-size: 18px; }
  }
  @media screen and (max-width: 320px){
      .rw-pictures { font-size: 9px; }
  }
  
  .image-1 {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),
      url("https://images.unsplash.com/photo-1511027643875-5cbb0439c8f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dc01b4b1ed6dc7bc6eed0db20f7abe52&auto=format&fit=crop&w=1489&q=80");
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
  }
  
  .image-2 {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),
      url("https://images.unsplash.com/photo-1520981269471-2935a5567932?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6a5518cd0110c7065cebe7212a95bb9b&auto=format&fit=crop&w=668&q=80");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
  }
  
  .image-3 {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),
      url("https://images.unsplash.com/photo-1529217934401-a6c268e2c2a2?ixlib=rb-0.3.5&s=90dd941ac6f2c0add70598127795b986&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
  }
  
  .image-4 {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.35), 
        rgba(0, 0, 0, 0.35)
      ),
      url("https://images.pexels.com/photos/753619/pexels-photo-753619.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
  }
  
  /* Tabs */
  /**
   * Tabs
   */
  .tabs {
    font-family: 'Brandon Text Bold', sans-serif;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tabs label {
    order: 1;
    display: block;
    padding: 1rem 1.75rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #fff;
    transition: background ease 0.2s;
    font-size: 1em;
  }
  
  .tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 0rem;
    background: #fff;
      flex-wrap: wrap;
      animation: fadein 2s;
      -moz-animation: fadein 2s; /* Firefox */
      -webkit-animation: fadein 2s; /* Safari and Chrome */
      -o-animation: fadein 2s; /* Opera */
  }
  
  .tabs input[type="radio"] {
    display: none;
  }
  
  .tabs input[type="radio"]:checked + label {
    background: #fff;
      border-bottom: 2px solid #00a8ff;
      flex-wrap: wrap;
      animation: fadein 2s;
      -moz-animation: fadein 2s; /* Firefox */
      -webkit-animation: fadein 2s; /* Safari and Chrome */
      -o-animation: fadein 2s; /* Opera */
  }
  
  .tabs input[type="radio"]:checked + label + .tab {
    display: block;
  }
  @media (max-width: 45em) {
    .tabs label {
      width: 50%;
      margin-right: 0;
      margin-top: 0rem;
      font-size: 1em;
    }
  }
  @keyframes fadein {
      from {
          opacity:0.2;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0.2;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0.2;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0.2;
      }
      to {
          opacity: 1;
      }
  }

.container {
    height: 45vh;
}
.image-1,.image-2,.image-3,.image-4 {
    height: 55vh !important;
}

@media screen and (max-width: 768px){
    .container {
        height: 45vh;
    }
    body {
        margin: 10% 2% 10% 2% !important;
    }
    .image-1,.image-2,.image-3,.image-4 {
        height: 55vh !important;
    }
}

.new-label:after{
    content:'Donate';
}

.new-label:hover {
    text-decoration: none !important;
    color: #ffffff !important;
}

.goal:hover {
    background: #000000 !important;
}

.floating-window{
    position: fixed;
    bottom: 20px;
    left: 90px;
    right: 90px;
    background: #ffffff;
    color: #444;
    font-size: 20px;
    font-family: 'Brandon Text Bold', sans-serif;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.sections {
    height: 100vh;
    width: 100%;
}

.card-text {
   font-size: 1.15em;
}

.card {
    border: 5px solid #00a8ff;
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px #00a8ff5b;
}

.foot {
    background: #00a8ff;
    color: #fff;
    margin-left: -5% !important;
    margin-right: -5% !important;
    margin-bottom: -5% !important;
}

.modal-window {
    position: fixed;
    background-color: #00a8ff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window>div {
    width: 425px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #00a8ff;
    height: 80vh;
  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: #000;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
    color: #00a8ff;
  }

  .badge-primary {
      background: #ffffff;
      font-weight: lighter !important;
      border: 2px solid #ffffff;
      border-top-left-radius: 0px;
      padding: 15px 15px 15px 15px;
      box-shadow: 10px 10px #00aaff9f;
      color: #000000;
      min-width: 400px;
      text-align: center;
  }
  .badge-white {
      font-family: 'Brandon Text Medium', sans-serif;
      background: #000 !important;
      color: #fff;
      border: 2px solid #000;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-right: none !important;
      min-width: 100px;
      font-size: 14px !important;
      text-transform: uppercase;
      letter-spacing: 2px;
  }
  .step-desc {
      margin: 1% 0% 4% 0%;
      font-size: 1.5em;
      opacity: 0.75;
      font-family: 'Brandon Text Medium', sans-serif;
  }
  .org-desc {
    font-family: 'Brandon Text Medium', sans-serif;
    opacity: 0.75;
    font-size: 1.25em;
  }
  h1 {
    font-size: 2rem !important;
  }